<footer id="aboutus" class="main-content screen-height" >
  <div>
    <h1 class="logo-color text-large text-centered"><span>ABOUT</span> <span>US</span></h1>
  </div>
    <div class="rounded-border" id="team">
      <h2>TEAM</h2>
      <h3>5704062610064 นาย รัฐพงศ์ หลวงเทพ 	 </h3>
      <h3>5704062610099 นาย สุรเชษฐ์ สง่าแสง		</h3>
      <h3>5704062620027 นาย คณพัฒน์ รุ่งทวีวัฒน์ 	</h3>
      <h3>5704062620051 นาย ธีรดนย์ ไชยวงศ์		</h3>
    </div>
</footer>
