<footer id="footer" class="content-center" style="width:100%;min-height:10px;margin-top:80px;margin-bottom:150px;">
    <h1 class="text-centered"><span>About</span> <span>Us</span></h1>
    <div class="round" style="border:10px rgba(255,255,255,0.7) solid; background-color:rgba(255,255,255,0.7);padding:80px;">
      <h3>5704062610064 นาย รัฐพงศ์ หลวงเทพ 	 </h3>
      <h3>5704062610099 นาย สุรเชษฐ์ สง่าแสง		</h3>
      <h3>5704062620027 นาย คณพัฒน์ รุ่งทวีวัฒน์ 	</h3>
      <h3>5704062620051 นาย ธีรดนย์ ไชยวงศ์		</h3>
    </div>
</footer>
