<nav class="nav">
  <div class="nav-logo">
    <h1 class="logo-color"><a class="a-link" href="#home"><span>EZ</span><span>Travel</span></a></h1>
  </div>
  <ul>
    <li><a class="a-link" href="#quicktravel">Quick Travel</a></li>
    <li><a class="a-link" href="#findyourplace">Find Your Place</a></li>
    <li><a class="a-link" href="#recommended">Recommended</a></li>
    <li><a class="a-link" href="#aboutus">About Us</a></li>
    <li><a class="a-link" href="">Sign In</a></li>
    <li><a class="a-link" href="">Sign Up</a></li>
  </ul>
</nav>
