<nav class="navbar navbar-fixed-top navbar-transparent">
    <ul>
        <li>
            <a id="a" class="scroll-link" href="#home">Home</a>
        </li>
        <li>
            <a class="scroll-link" href="#quicktravel">Quick Travel</a>
        </li>
        <li>
            <a class="" href="/search">Find Your Place</a>
        </li>
        <li>
            <a class="scroll-link" href="#recommended">Recommended</a>
        </li>
        <li>
            <a class="scroll-link" href="#footer">About</a>
        </li>
    </ul>
</nav>
