<!-- <nav class="nav">
  <div class="nav-logo">
    <h1 class="logo-color"><a class="a-link" href="#home"><span>EZ</span><span>Travel</span></a></h1>
  </div>
  <ul>
    <li><a class="a-link" href="#quicktravel">Quick Travel</a></li>
    <li><a class="a-link" href="#findyourplace">Find Your Place</a></li>
    <li><a class="a-link" href="#recommended">Recommended</a></li>
    <li><a class="a-link" href="#aboutus">About Us</a></li>
    <li><a class="a-link" href="">Sign In</a></li>
    <li><a class="a-link" href="">Sign Up</a></li>
  </ul>
</nav> -->


<style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5rem; /* Location of the box */
    padding-left: 25%;
    padding-right: 25%;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 12;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 0.0675rem solid #888;
    border-radius: 1rem;
    width: 80%;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2),0 0.375rem 1.25rem 0 rgba(0,0,0,0.19);
    overflow: hidden;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0px; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0px; opacity:1}
}

/* The Close Button */
.close1 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover, .close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close2:hover, .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: grey;
    color: white;
}

.modal-body {
  text-align: center;
  padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: grey;
    color: white;
}

input[type=submit] {
    border-radius: 5px;
    border: 0;
    width: 100px;
    height: 40px;
    font-family: Tahoma;
    background: #f4f4f4;
}
</style>

<nav class="nav">
  <div class="nav-logo">
    <h1 class="logo-color"><a class="a-link" href="#home"><span>EZ</span><span>Travel</span></a></h1>
  </div>
  <ul>
    <li><a class="a-link" href="#quicktravel">Quick Travel</a></li>
    <li><a class="a-link" href="#findyourplace">Find Your Place</a></li>
    <li><a class="a-link" href="#recommended">Recommended</a></li>
    <li><a class="a-link" href="#aboutus">About Us</a></li>
    <li><a class="a-link" id="signIn" href="">Sign In</a></li>
    <li><a class="a-link" id="signUp" href="">Sign Up</a></li>
  </ul>
</nav>

<div id="signIn-Modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close1">&times;</span>
      <h2><span style="color: #abe1fd;">Sign</span>
          <span style="color: #fd9c73;">UP</span></h2>
    </div>
    <div class="modal-body">
      <br>
      <h3>EMAIL :</h3>
      <input type="text" name="email" class="text-input rounded-border">
      <br><br>
      <h3>PASSWORD:</h3>
      <input type="password" name="pass" class="text-input rounded-border">
      <br><br>
      <input type="submit" name="sub" value="SIGN IN" class="btn btn-submit">
      <br><br>
    </div>
    <div class="modal-footer">
      <h2><span style="color: #abe1fd;">Ez</span>
          <span style="color: #fd9c73;">Travel</span>
      </h2>
    </div>
  </div>
</div>


<!-- sign up -->
<div id="signUp-Modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close2">&times;</span>
      <h2><span style="color: #abe1fd;">Sign</span>
          <span style="color: #fd9c73;">UP</span></h2>
    </div>

    <div class="modal-body">
      <h3>NAME:</h3>
      <input type="text" name="firstname" size="5"  class="text-input rounded-border">
      <br><br>
      <h3>PHONE:</h3>
      <input type="text" name="phone"  class="text-input rounded-border">
      <br><br>
      <h3>EMAIL:</h3>
      <input ty pe="text" name="email"  class="text-input rounded-border">
      <br><br>
      <h3>PASSWORD:</h3>
      <input type="password" name="pass"  class="text-input rounded-border">
      <br><br>
      <input type="submit" name="sub" value="CREATE" class="btn btn-submit">
      <br><br>
    </div>

    <div class="modal-footer">
      <h2><span style="color: #abe1fd;">Ez</span>
          <span style="color: #fd9c73;">Travel</span>
      </h2>
    </div>
  </div>
</div>

<script>
// Get the modal
var modalIn = document.getElementById('signIn-Modal');
var modalUp = document.getElementById('signUp-Modal');

// Get the button that opens the modal
var signUpBtn = document.getElementById("signUp");
var signInBtn = document.getElementById("signIn");

// Get the <span> element that closes the modal
var spanUp = document.getElementsByClassName("close2")[0];
var spanIn = document.getElementsByClassName("close1")[0];



// When the user clicks the button, open the modal
signUpBtn.onclick = function() {
    modalUp.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
spanUp.onclick = function() {
    modalUp.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
modalUp.onclick = function(event) {
    if (event.target == modalUp) {
        modalUp.style.display = "none";
    }
}

//-------------------------------------


signInBtn.onclick = function() {
    modalIn.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
spanIn.onclick = function() {
    modalIn.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
modalIn.onclick = function(event) {
    if (event.target == modalIn) {
        modalIn.style.display = "none";
    }
}


</script>
