@import url("https://fonts.googleapis.com/css?family=Raleway:400,800,800i");
:root {
  font-size: 16px;
  font-family: 'Raleway';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

nav.nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 2em;
}

nav.nav .nav-logo {
  -webkit-flex-basis: 10%;
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
}

nav.nav .nav-logo h1 {
  font-size: 2.5em;
  padding: 0.15em 0.75em;
}

nav.nav ul {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

nav.nav ul li {
  list-style: none;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

nav.nav ul li a {
  font-weight: bold;
  text-decoration: none;
  padding: 1em;
  text-transform: uppercase;
  transition: all 0.5s;
  color: inherit;
}

nav.nav ul li a:visited {
  color: inherit;
}

nav.nav ul li a:hover {
  color: orange;
}

nav.nav-fixed {
  position: fixed;
  background-color: rgba(150, 220, 250, 0.2);
}

header {
  padding: 4em 2em 2em 2em;
  width: 100%;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

header .nav {
  position: absolute;
  top: 0;
}

.logo-color {
  font-style: italic;
  text-shadow: 0.05em 0.05em 0.1em black;
}

.logo-color span {
  transition: all 0.5s;
}

.logo-color span:nth-child(1) {
  color: lightblue;
}

.logo-color span:nth-child(2) {
  color: orange;
}

.logo-color a:hover {
  text-shadow: 0.05em 0.05em 0.2em black;
}

.logo-color a:hover span:nth-child(1) {
  color: orange;
}

.logo-color a:hover span:nth-child(2) {
  color: lightblue;
}
