$color-main:orange;
$color-hover:white;
$color-active:black;

$section-min-height:640px;
$landing-min-height:360px;




//flex variables
$flex-item-large: 480px;
$flex-item-medium: 320px;
$flex-item-small: 160px;

//screenbreak
$screen-break-sm:800px;
$screen-break-md:1080px;
$screen-break-lg:1280px;
//quicksearch
$quicksearch-width:640px;
