
div#logo{
	position:absolute;
	top:15%;

	h1{
		font-family: 'Pacifico';
		font-size:7.5rem;
		text-shadow: 0.0625em 0.0625em black;
		padding-right:0.2em;
		margin-top: 5vh;
		user-select:none;
		span:nth-child(1){
			color:lightblue;
		}
		span:nth-child(2){
			color:orange;
		}
	}

}



div#quickresult{
	overflow-y: auto;
	max-height: 300px;
	height: 300px;
	width: $quicksearch-width;

}
