:root{
  font-size: 16px;
  font-family: 'Sriracha';
  @media(min-width: 1600px)and(max-width: 1919px){
    font-size: 20px;
  }
  @media (min-width: 1920px){
    font-size: 24px;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: $black;
  // border: 1px solid $black;
}
body{
  min-width: 1024px;
  max-width: 1920px;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../img/back2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
