$light-black : lighten(#313131,10%);
$black : #313131;
$dark-black : darken(#313131,15%);
$light-brown : lighten(#777777,10%);
$brown : #777777;
$dark-brown : darken(#777777,15%);
$light-purple : lighten(#bfb1d5,10%);
$purple : #bfb1d5;
$dark-purple : darken(#bfb1d5,15%);
$light-green : lighten(#adddcf,10%);
$green : #adddcf;
$dark-green : darken(#adddcf,15%);
$light-blue : lighten(#abe1fd,10%);
$blue : #abe1fd;
$dark-blue : darken(#abe1fd,15%);
$light-orange : lighten(#fed1be,10%);
$orange : #fed1be;
$dark-orange : darken(#fed1be,15%);
$light-yellow : lighten(#f0e0a2,10%);
$yellow : #f0e0a2;
$dark-yellow : darken(#f0e0a2,15%);
$light-grey : lighten(#e8e7e5,10%);
$grey : #e8e7e5;
$dark-grey : darken(#e8e7e5,15%);
$light-white : lighten(#ffffff,10%);
$white : #ffffff;
$dark-white : darken(#ffffff,15%);
