$red : #FF9797;
$lightblue:#90A0F0;
$blue : #A4C8F0;
$dark-blue : #a18cd1;
$mainmenu-btn-font-color:black;
$mainmenu-btn-bg-color:white;
$mainmenu-btn-bg-color-active:#A4C8F0;
$mainmenu-btn-border-color-active:white;