@import url('https://fonts.googleapis.com/css?family=Raleway:400,800,800i');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Sriracha');
@import url("font-awesome.css");
@import "variable";
@import "root";
@import "element";
@import "nav";
@import "home";
@import "star-rate";
@import "rangeslider";
.logo-color{
  font-style: italic;
  font-family: "Fredoka One";
  text-shadow: 0.05em 0.05em 0.1em black;
  span{
    transition: all 0.5s;
    &:nth-child(1){
    color: $blue;
    }
    &:nth-child(2){
    color: $dark-orange;
    }
  }
  a:hover{
    text-shadow: 0.05em 0.05em 0.2em black;
    span{
      &:nth-child(1){
      color: $dark-orange;
      }
      &:nth-child(2){
      color: $blue;
      }
    }
  }
}
//----------------
.text-large{
  font-size: 5rem;
}
.text-centered{
  text-align: center;
}
.space-around-sm{
  margin: 1rem 1.5rem;
}
.main-content{
  padding: 4em 2em 2em 2em;
  width: 100%;
}
.screen-height{
  height: 100vh;
  min-height: 640px;
}
// --------------
.wrapper{
  max-width: 1280px;
}
.full-form{
  width: 100%;
}
.btn{
  display: inline-block;
  position: relative;
  text-align: center;
  font-weight: bolder;
  padding: 0.25em 0.75em;
  border-radius: 1.25em;
   background-color: rgba(0,0,0,0.25);
  border:0.15em solid $blue;
  box-shadow: 0 0 0.5em $black;
  transition: all 0.5s;
  color: $blue;
  &:hover{
    color: $orange;
    border-color: $orange;
    box-shadow: 0 0 0.75em black;
    background-color: rgba(0, 0, 0, 0.25);
  }

}
.btn-md{
  width: 12em;
}
// ---------------------------------------
.rounded-border{
  border-radius: 1.5em;
}
.inline{
  display: inline-flex;
}
.flex{
  flex: 1;
}
